body {
  margin: 0;
}

.header {
  height: 500px;
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}
.header .fixedMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 2px 2px #6c757d;
  width: 100%;
  background-color: rgb(247, 241, 241);
}
.header .fixedMenu .logoName {
  padding: 50px;
  color: #6c757d;
  font-size: 25px;
  letter-spacing: 4px;
}
.header .fixedMenu .logoName .boldChar {
  color: rgb(22, 21, 21);
  font-weight: bold;
}
.header .fixedMenu .navlist {
  float: right;
  padding-top: 7px;
  margin-right: 15px;
  text-align: center;
}
.header .fixedMenu .navlist a {
  padding-right: 50px;
  color: rgb(22, 21, 21);
  font-family: 22px;
  font-size: 13;
  text-decoration: none;
  cursor: pointer;
}
.header .TextOverImage {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
}
.header .TextOverImage .shadedWord {
  padding: 5px;
  background-color: rgba(47, 50, 50, 0.5);
  background-clip: border-box;
}

.sectionTitle {
  color: #6c757d;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}

.titleDescription {
  color: rgb(22, 21, 21);
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.projects {
  padding: 50px;
}
.projects .projectsItems {
  display: flex;
  flex-wrap: wrap;
}
.projects .projectsItems .card {
  position: relative;
  width: 22%;
  padding: 0px 20px 10px 0px;
}
.projects .projectsItems .card img {
  width: 100%;
}
.projects .projectsItems .card .TopLeftCards {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 13px 5px 13px;
  margin: 0;
  color: rgb(247, 241, 241);
  background-color: rgb(22, 21, 21);
  font-size: 20px;
}

.About {
  padding: 50px;
}
.About .AboutItems {
  display: flex;
  flex-wrap: wrap;
}
.About .AboutItems .card {
  width: 22%;
  padding: 0px 20px 10px 0px;
  font-family: "Rubik", sans-serif;
}
.About .AboutItems .card img {
  width: 100%;
}
.About .AboutItems .card .name {
  font-size: 20px;
  font-weight: bold;
}
.About .AboutItems .card .career {
  margin-top: 15px;
  color: #6c757d;
}
.About .AboutItems .card .description {
  margin-top: 15px;
  color: rgb(22, 21, 21);
  font-size: 12px;
}
.About .AboutItems .card .AboutBtn {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: rgb(22, 21, 21);
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(230, 223, 223);
  cursor: pointer;
}

.contact {
  padding: 50px;
}
.contact .box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(170, 168, 168);
  margin-bottom: 20px;
}
.contact .SendButton {
  width: 22%;
  padding: 10px 0;
  border: none;
  margin: 15px 0px;
  color: rgb(247, 241, 241);
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(22, 21, 21);
  text-transform: uppercase;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */