@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200;400&display=swap');
 

*{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Montserra', 'Roboto' ;
}

.container{
  width: 90%;
  margin: auto;
  
}

.header{
  background-image: url("../img/background.jpg");
  background-size:cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
 
}

.header .navbar{ 
  height: 50px;
  margin-top: 30px; 
}
 
.header .navbar .fixed{
  width: 100%;
  position: fixed;
  padding-top: 10px; 
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  
}
.header .navbar .logo{
  float: left;
  
  padding-left:5.5%;
}


.header .navbar .navlist  { 
 
  float:right;
  padding-right: 10%;
  text-align:right;
  
}                                                                                                                                                                                                                                                                                                                                                                                                                       
.header .navbar .navlist .listitems{
  display: inline-block;
 
}
.header .navbar .navlist .listitems a {
  font-family: "Montserrat";
  color:gray;
  font-size: 15px;
  padding-right: 30px;
  cursor: pointer;

}

.head{
  color:gray;
  font-size: 26px;
  letter-spacing: 3px;

}
.header-content {
  margin-top: 10%;
}
.header-content .subhead {
   
  color:white;
  font-family: "Roboto Slap";
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 700px;
  text-align: center;
  
}
 
  

/* projects */
.projects .title h2{
  text-align:left;
  font-family: "Arial";
  font-size: 25px;
  color: #6c757d;
  padding-bottom: 40px;
  padding: 5px;
  margin: 5px;
  
}
.projects{
  padding-top: 2%;
  background-color: rgb(248, 249, 250);    
}
.row{
  display: flex;
  
}
.projects .projects-items .card{ 
  flex: 30%;
  /* background-color: white; */
  position: relative;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 5px;

}
 
.projects .projects-items .card .item img{
  width: 100%;  
}
 
.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color:black;
  padding: 10px 13px 5px 13px ;  
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  

}
 
/* end projects */

/* About section */
.About-items {
  display: flex;
   
  /* background-color: rgb(205, 142, 65); */
  
}
.About .title h2
{
  text-align:left;
  font-family: "Arial";
  font-size: 25px;
  color: #6c757d;
  padding: 5px;
  margin: 5px;


}
 
 
.About .title p{
  text-align:left;
  font-family: "Arial";
  line-height: 1.6;
  font-size: 17px;
  color:black;
  padding: 5px;
  margin: 5px;
   
  
}

.About .card{
  
  flex: 24%;
  /* background-color: aquamarine; */
  text-align: left;
  padding: 5px;
  margin: 5px;
  
  
}
.About .card .item{ 
  overflow: hidden;
  width: 100%;
   
}
.About .card .item img{
  width: 100%;
}

.About .card .descr{
   width: 95%;
   position: relative;
    
}

.descr{
  margin-top: 15px;
  margin-bottom: 35px
}
.descr h3{
/* color: rgb(82, 80, 80); */
font-family: 'Raleway', sans-serif;
}
.descr h4{
  color: gray;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}
.descr p{
  margin-top: 15px;
  font-size: 10px;
  color: black;
  /* font-family: 'Montserrat', sans-serif;  */
  overflow: hidden;
}

.descr .btn{
  margin-top: 15px;
  font-family: "Montserrat";
  font-size: 12px;
  padding-top:6px;
  padding-bottom: 6px;
  background-color:rgb(229, 226, 226);
   
  position: absolute;
  width: 100%;
  border: 1;
  text-align: center;
  border-radius: 1px;
  color: black;  
  font-weight: 600;
  cursor: pointer;
   
  
  }
/* contact section */
.contact{
  height: 60vh;
  /* padding: 5px;
  margin: 5px; */
  /* background-color: rgb(41, 77, 109); */
}
.contact .title{
  text-align: left;
  margin-top: 80px;
}
.contact .title h2{
  font-family: "Montserrat";
  font-size: 30px;
  font-weight:bold; 
  color:black;
  padding: 5px ;
  margin: 5px 5px 40px 5px;
   

}
.contact .title p{

  font-family:  "Montserrat";
  color: black ;
  font-weight:bold;
  padding: 5px;
  margin: 20px 5px 5px 5px;
   
}
/* .contact {
  overflow: hidden;

} */
.contact .form {
  width: 100%;
  /* float: left; */
  height: 250px;
 
}

.contact .form .form-inputs .information {
  width: 50%;
  float: left; 
  
}
.contact .form .form-inputs .information .name{
  width: 90%;
  height: 50px;
  padding: 10px 10px;
  margin: 10px ;
   
  box-sizing: border-box;

  border: 1px solid gray;
}
  

/* end contact section */
  .dd{
    margin-top: 70px;
    background-color: aqua;
  }