body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 40px;
}

.header {
  height: 500px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
}

.fixedMenu {
  position: fixed; 
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 2px 2px rgb(182, 177, 177);
  width: 100%;
  background-color:white;
}

.header .navlist { 
  float: right;
}

.logoName {
  color:gray;
  font-size: 26px;
  letter-spacing: 3px;  
}

.logoName .boldChar {
  color: black;
  font-weight: bold;
}

.navlist { 
  padding-top: 7px;
  margin-right: 15px;
  text-align: center;
}

.header a { 
  padding-right: 50px;
  color:black;
  font-family: 'Rubik', sans-serif;
  font-size: 16px; 
  cursor: pointer;
}

.TextOverImage {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgba(255, 255, 255, 0.8);
  font-size: 25px;
  letter-spacing: 5px; 
  font-weight: bold;
  text-align: center;
}

.shadedWord {
  padding: 5px;
  background-color: rgba(47, 50, 50, 0.5);
  background-clip: border-box;    
}

/* this is for all titles in the page */
.sectionTitle {
  color: #6c757d;
  font-family: "Arial";
  font-size: 25px;
}

.titleDescription {  
  margin: 20px 5px 30px 5px;
  color:black;
  font-family: "Arial";
  font-size: 15px; 
  line-height: 1.6;
}

/* projects */
.projects .title {
  padding-top: 80px; 
}

.projects .projectsItems { 
  display: flex;
  flex-wrap: wrap;
}

.projects .card { 
  position: relative;
  width: 22%; 
  padding: 0px 20px 10px 0px;
  color: white;
}

.projects img {
  width: 100%;
}

.CardNames {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 13px 5px 13px; 
  margin: 0; 
  background-color:black;
  font-size: 20px;
}
 
/* About section*/
.About {
  padding-top: 60px;
}

.AboutItems {
  display: flex;
  flex-wrap: wrap;
}

.About .card {
  width: 22%;
  padding-right:20px ;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

img {
  width: 100%;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.career {
  margin-top: 15px;
  color: gray;
}

.description {
  margin-top: 15px;
  color: black;
  font-size: 12px;
}

.AboutBtn {
  width: 100%;
  padding: 6px 0px;
  border: none;
  margin: 16px 0px;
  color: rgb(71, 69, 69);
  font-size: 12px;
  font-weight: 600;   
  background-color:rgb(241, 238, 238); 
  cursor: pointer; 
}

/* contact section */ 
.contact {
  margin-top: 30px;
}

.box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(170, 168, 168);
  margin-bottom: 20px;
}
.SendButton {
  width: 25%;
  padding: 10px 0px;
  border: none;
  margin:15px 0px;
  color: white;
  font-size: 12px;
  font-weight: 600;   
  background-color:black; 
  text-transform: uppercase;
  cursor: pointer; 
}

/* Media Query */
/* Ipads */
@media (max-width: 900px) and (min-width: 576px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .header .navlist { 
    margin-right: 20px;  
  }

  .header .navlist a {
    font-size: 15px;
    padding-right: 30px;
  }

  .navlist { 
    width: 60%;
    text-align: right;
  }

  .logoName {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .TextOverImage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* projects */
  .projects .title {
    padding-top: 60px;
    margin-bottom: 30px; 
    font-size: 22px;
  }

  .projects .card {
    width: 46%;  
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .CardNames {
    padding: 5px 8px;  
    font-size: 18px;
  }

  /* About section */
  .About {
    padding-top: 40px;
  }

  .sectionTitle {
    font-size: 22px;
  }

  .titleDescription {
    font-size: 14px;
    margin: 15px 5px 25px 5px;
  }

  .About .card {
    width: 48%;  
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .name {
    font-size: 18px;
  }

  .career {
    font-size: 14px;
  }

  .description {
    font-size: 10px;
  }

  .AboutBtn {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Phones Screen */
@media (max-width: 576px) {
  .container {
    margin-left: 20px;  
    margin-right: 20px;  
  }

  .header .navlist { 
    display: none;
  }

  .Architects {
    display: none;
  }
  .TextOverImage {
    font-size: 40px;  
    top: 35%;
  }

  .shadedWord{
    padding: 20px;
  }

  /* projects */
  .projects .title {
    padding-top: 40px;  
    margin-bottom: 20px;  
    font-size: 25px;  
  }

  .projects .card {
    width: 100%;
    padding: 7px;   
    margin: 7px 0;  
  }

  .CardNames {
    padding: 7px 25px;  
    margin: 7px;
    font-size: 16px; 
  }

  /* About section */
  .About {
    padding-top: 30px; 
  }

  .sectionTitle {
    font-size: 20px; 
  }

  .titleDescription {
    font-size: 12px;  
    margin: 10px 0;  
  }

  .About .card {
    width: 100%;  
    padding: 5px;  
  }

  .name {
    font-size: 16px; 
  }

  .career {
    font-size: 12px;  
  }

  .description {
    font-size: 11px; 
  }

 .AboutBtn {
    font-size: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px;  
  }
}