*{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Rubik', sans-serif;
}
.container{
  width: 90%;
  margin: auto; 
}
.header{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
}
.navbar{ 
  height: 50px;
  margin-top: 30px; 
}
.header .navbar .fixedMenu{
  width: 100%;
  position: fixed;
  padding-top: 10px; 
  background-color:white;
  top: 3px;
  right: 0;
  left: 0;
  overflow: hidden;   
  box-shadow: 2px 2px rgb(182, 177, 177);
}
.header .navbar .logo{
  float: left;  
  padding-left: 5.5%;
}
.header .navbar .navlist{ 
  float: right;
  padding-right: 5%;
  text-align: right; 
}                                                                                                                                                                                                                                                                                                                                                                                                                       
.header .navbar .navlist .listitems{
  display: inline-block; 
}
.header .navbar .navlist .listitems a{
  color:gray;
  font-size: 15px;
  cursor: pointer;
  padding-right: 15px;
  font-family: 'Rubik', sans-serif;
}
.logoName{
  color:gray;
  font-size: 26px;
  letter-spacing: 3px;
}
.logoName span {
  color: black;
  font-weight: bold;
}
.TextOverImage {
  margin-top: 13%;  
}
.TextOverImage .text{ 
  color:white;
  font-size: 25px;
  letter-spacing: 5px; 
  text-align: center;
}
.text span{
    border: 5px black;
    padding: 5px;
    background: rgb(68, 73, 74);
    background-clip: border-box;    
}
/* projects */
.projects .title h2{
  text-align: left;
  font-family: "Arial";
  font-size: 25px;
  color: #6c757d;
  padding: 5px;
  margin: 5px;  
}
.projects{
  padding-top: 3%;
  background-color: rgb(248, 249, 250);    
}
.projects .title{
    margin-bottom: 50px;
}
.row{
  display: flex; 
}
.projects .projectsItems .card{ 
  flex: 30%;
  position: relative;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 5px;
}
.projects .projectsItems .card .item img{
  width: 100%;  
}
.top-left{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color:black;
  padding: 10px 13px 5px 13px ;  
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}
/* end projects section */
/* About section section*/
.About{
     padding-top: 60px;
}
.About-items{
  display: flex;
}
.About .title h2{
  text-align: left;
  font-family: "Arial";
  font-size: 25px;
  color: #6c757d;
  padding: 5px;
  margin: 5px;
}
.About .title p{
  text-align: left;
  font-family: "Arial";
  line-height: 1.6;
  font-size: 17px;
  color:black;
  padding: 5px;
  margin: 20px 5px 30px 5px;
}
.About .card{
  flex: 24%;
  text-align: left;
  padding: 5px;
  margin: 5px; 
}
.About .card .item{ 
  overflow: hidden;
  width: 100%;  
}
.About .card .item img{
  width: 100%;
}
.About .card .descr{
   width: 95%;
   position: relative;   
}
.descr{
  margin-top: 15px;
  margin-bottom: 35px
}
.descr h3{
font-family: 'Raleway', sans-serif;
}
.descr h4{
  color: gray;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}
.descr p{
  margin-top: 15px;
  font-size: 10px;
  color: black;
  overflow: hidden;
}
.descr .btn{
  position: absolute;
  border: 1;
  text-align: center;
  border-radius: 1px;
  cursor: pointer; 
  width: 100%;
  margin-top: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  color: black;  
  background-color:rgb(229, 226, 226); 
  }
/* contact section */
.contact{
  height: 400px;
}
.contact .title{
  text-align: left;
  margin-top: 80px;
}
.contact .title h2{
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold; 
  color:black;
  padding: 5px ;
  margin: 5px 5px 40px 5px;
}
.contact .title p{
  font-family:  "Montserrat";
  color: black ;
  font-weight: bold;
  padding: 5px;
  margin: 20px 5px 5px 5px; 
}
.contact .form{
  width: 100%;
  height: 250px;
}
.contact .form .form-inputs .information{
  width: 50%;
  float: left; 
}
.contact .form .form-inputs .information .name{
  width: 90%;
  height: 50px;
  padding: 10px 10px;
  margin: 10px ; 
  box-sizing: border-box;
  border: 1px solid gray;
}