body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.header {
  height: 500px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}
.header .fixedMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 2px 2px #6c757d;
  width: 100%;
  background-color: white;
}
.header .fixedMenu .logoName {
  padding: 40px;
  color: #6c757d;
  font-size: 25px;
  letter-spacing: 4px;
}
.header .fixedMenu .logoName .boldChar {
  color: rgb(22, 21, 21);
  font-weight: bold;
}
.header .fixedMenu .navlist {
  float: right;
  padding-top: 7px;
  margin-right: 15px;
  text-align: center;
}
.header .fixedMenu .navlist a {
  padding-right: 50px;
  color: rgb(22, 21, 21);
  font-family: 22px;
  font-size: 13;
  text-decoration: none;
  cursor: pointer;
}
.header .textOverImage {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
}
.header .textOverImage .shadedWord {
  padding: 5px;
  background-color: rgba(47, 50, 50, 0.5);
  background-clip: border-box;
}

.sectionTitle {
  color: #6c757d;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}

.titleDescription {
  color: rgb(22, 21, 21);
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.projects {
  padding: 40px;
}
.projects .projectsItems {
  display: flex;
  flex-wrap: wrap;
}
.projects .projectsItems .card {
  position: relative;
  width: 22%;
  padding: 0px 20px 10px 0px;
}
.projects .projectsItems .card img {
  width: 100%;
}
.projects .projectsItems .card .topLeftCards {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 13px 5px 13px;
  margin: 0;
  color: white;
  background-color: rgb(22, 21, 21);
  font-size: 20px;
}

.about {
  padding: 40px;
}
.about .aboutItems {
  display: flex;
  flex-wrap: wrap;
}
.about .aboutItems .card {
  width: 22%;
  padding: 0px 20px 10px 0px;
  font-family: "Rubik", sans-serif;
}
.about .aboutItems .card img {
  width: 100%;
}
.about .aboutItems .card .name {
  font-size: 20px;
  font-weight: bold;
}
.about .aboutItems .card .career {
  margin-top: 15px;
  color: #6c757d;
}
.about .aboutItems .card .description {
  margin-top: 15px;
  color: rgb(22, 21, 21);
  font-size: 12px;
}
.about .aboutItems .card .aboutBtn {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: rgb(22, 21, 21);
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(230, 223, 223);
  cursor: pointer;
}

.contact {
  padding: 40px;
}
.contact .box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(170, 168, 168);
  margin-bottom: 20px;
}
.contact .sendButton {
  width: 22%;
  padding: 10px 0;
  border: none;
  margin: 15px 0px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(22, 21, 21);
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 900px) {
  .header .fixedMenu .navlist {
    margin-right: 20px;
    text-align: right;
  }
  .header .fixedMenu .navlist a {
    font-size: 15px;
    padding-right: 30px;
  }
  .header .fixedMenu .logoName {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header .textOverImage {
    position: absolute;
    top: 40%;
  }
  .sectionTitle {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 22px;
  }
  .titleDescription {
    font-size: 14px;
    margin: 15px 5px 25px 5px;
  }
  .projects .projectsItems .card {
    width: 46%;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .projects .projectsItems .card .topLeftCards {
    padding: 5px 8px;
    font-size: 18px;
  }
  .about .aboutItems .card {
    width: 47%;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .about .aboutItems .card .name {
    font-size: 18px;
  }
  .about .aboutItems .card .career {
    font-size: 14px;
  }
  .about .aboutItems .card .description {
    font-size: 10px;
  }
  .about .aboutItems .card .aboutBtn {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
@media (max-width: 576px) {
  .header .fixedMenu .navlist {
    display: none;
  }
  .header .architects {
    display: none;
  }
  .header .textOverImage {
    font-size: 40px;
    top: 35%;
  }
  .header .textOverImage .shadedWord {
    padding: 20px;
  }
  .projects .projectsItems .card {
    width: 100%;
    padding: 7px;
    margin: 7px 0;
  }
  .projects .projectsItems .card .topLeftCards {
    padding: 7px 25px;
    margin: 7px;
    font-size: 16px;
  }
  .sectionTitle {
    font-size: 20px;
  }
  .titleDescription {
    font-size: 12px;
    margin: 10px 0;
  }
  .about {
    padding-top: 20px;
  }
  .about .aboutItems .card {
    width: 100%;
    padding: 5px;
  }
  .about .aboutItems .card .name {
    font-size: 16px;
  }
  .about .aboutItems .card .career {
    font-size: 12px;
  }
  .about .aboutItems .card .description {
    font-size: 12px;
  }
  .about .aboutItems .card .aboutBtn {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .contact .sendButton {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=index.css.map */